<footer class="footer">
    <div class="container mb-0 pb-0">
      <div class="row">
        <!-- Redes Sociales -->
        <div class="col-12 col-md-3 mb-1">
            <h5>Redes Sociales</h5>
            <div class="d-flex gap-3 justify-content-center mb-3">
              <a href="https://www.facebook.com/share/1HR1TCrcEX/" target="_blank" class="text-primary">
                <i class="fab fa-facebook fa-2x"></i>
              </a>
              <a href="https://www.instagram.com/lootboxx25?igsh=cXkxdjB4NzNxZ3p0" target="_blank" class="text-primary">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </div>
          </div>
            
        <!-- Contáctanos -->
        <div class="col-12 col-md-3 mb-1">
          <h5>Contáctanos</h5>
          <ul class="list-unstyled">
            <li><a href="./contactanos.html">Formulario de contacto</a></li>
            <li><a href="mailto:lootboxx25@gmail.com">lootboxx25@gmail.com</a></li>
          </ul>
        </div>

        <!-- Sobre Nosotros -->
        <div class="col-12 col-md-3 mb-1">
          <h5>Sobre Nosotros</h5>
          <ul class="list-unstyled">
            <li><a href="./sobreNosotros.html">Nuestro equipo</a></li>
          </ul>
        </div>
        
        
        <!-- Productos -->
        <div class="col-12 col-md-3 mb-1">
          <h5>Productos</h5>
          <ul class="list-unstyled">
            <li><a href="./nuestrosProductos.html">Ver productos</a></li>
          </ul>
        </div>
      </div>
  
      <div class="text-center mt-1">
        <p>By Script Squad &copy; 2025</p>
      </div>

      <div class="border-top pt-2 text-center">
        <a href="./terminosCondiciones.html" class="text-decoration-none me-3">Términos y condiciones</a>
        <!-- <a href="./privacidad.html" class="text-decoration-none">Aviso de privacidad</a> -->
      </div>
    </div>
  </footer>
  