<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="./index.html">
      <img src="./assets/icons/logoLoot.png" class="img-fluid" alt="Logo LootBox" style="width: 100px;">
    </a>
    <!-- Toggle -->
    <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- SideBar -->
    <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel" style="height: 100% dvh;">
      <!-- SideBard header -->
      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title text-center" id="offcanvasNavbarLabel">
          <img src="./assets/icons/logoLoot.png" class="w-25 mh-25 " alt="Logo LootBox">
        </h5>
        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <!-- SideBar body-->
      <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
        <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Inicio</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="./sobreNosotros.html">Sobre Nosotros</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="./contactanos.html">Contáctanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./nuestrosProductos.html">Nuestros Productos</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="./publicar.html">Publicar</a>
          </li>
          <li class="nav-item mx-2" style="display: none;">
            <a class="nav-link" href="./registro.html">Publicar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="user-name" style="display: none;"></a>
          </li>
        </ul>

        <div class="d-flex align-items-center gap-3 contenedor-vertical" >

          <!-- login / sign up / logout -->
          <div id="navActionsContainer" class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
            <a href="./sesion.html" id="login-btn" class="btns-log-ins text-white text-decoration-none px-3 py-1 rounded-4 text-center">Iniciar Sesión</a>
            <a href="./registro.html" id="signup-btn" class="btns-log-ins text-white text-decoration-none px-3 py-1 rounded-4 text-center">Regístrate</a>
          </div>

          <!-- Carrito -->
          <div class="position-relative me-lg-3 my-2 my-lg-0">
            <a href="#" class="text-white text-decoration-none fs-4" id="cart-button" data-bs-toggle="modal" data-bs-target="#cartModal">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </div>

        </div>
        

      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const userNameLink = document.getElementById("user-name");
    const loginBtn = document.getElementById("login-btn");
    const signupBtn = document.getElementById("signup-btn");
    const logoutBtn = document.getElementById("logout-btn");

    const usuarioActivo = JSON.parse(sessionStorage.getItem("usuarioActivo"));

    if (usuarioActivo && usuarioActivo.nombre) {
      // Si el usuario está logueado
      userNameLink.textContent = `Hola, ${usuarioActivo.nombre}`;
      userNameLink.style.display = "block"; // Usuario que inició sesión
      loginBtn.style.display = "none"; // quita "Iniciar sesión"
      signupBtn.style.display = "none"; // quita "Regístrate"
      logoutBtn.style.display = "block"; // pone "Cerrar sesión"
    }

    // Cerrar sesión
    logoutBtn.addEventListener("click", (e) => {
      e.preventDefault();
      sessionStorage.removeItem("usuarioActivo"); // Elimina la sesión
      window.location.href = "./index.html"; // Redirige a la página principal
    });
  });
</script>
