:root{
    font-family: "Alumni Sans Collegiate One", "Irish Grover","Galindo", sans-serif;
    --bg:#000221;
    ---txt:#d9d4d1;
    --sky:#00c8df;
    --navy:#003652;
    --orange:#d35f18;
    --gray:#3d444b;

}


   


















/*ESTILOS PARA LAS TARJETAS*/
.background-color-card{
    background-color:gray;
}

.text-color-card{
    color: white;
}

