:root{
    font-family: "Alumni Sans Collegiate One", "Irish Grover","Galindo", sans-serif;

    --fuente-encabezado: "Alumni Sans Collegiate One";
    --fuente-texto: "Galindo";
    --fuente-link:"Irish Grover";

    --bg:#000221;
    ---txt:#d9d4d1;
    --sky:#00c8df;
    --navy:#003652;
    --orange:#d35f18;
    --gray:#3d444b;

    --bg: #000221;
    --txt: #d9d4d1;
    --sky: #00c8df;
    --navy: #003662;
    --orange: #d35f18;
    --gray: #3d444b;

    background-color: var(--bg);
    color: var(--txt);
}


   











/*ESTILOS PARA LAS TARJETAS*/
.background-color-card{
    background-color:var(--gray);
}

.text-color-card{
    color: var(---txt);
}


.tipo-letra{
    font-family: var(--fuente-texto);
    font-size: 12px;
}

.shadow-card{
    box-shadow: 10px 10px 0px var(--sky)
}
